---
---

@import "{{ site.theme }}";

header {
  display: flex;
  justify-content: space-between;
  
  a:hover {
    text-decoration: none;
  }

  ul {
    align-items: center;
    display: flex;
    margin-bottom: 0;
  }
}

.repo-break {
  padding-top: 30px;
}

.repo-container {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.15rem;
}

.post-tags {
  span {
    font-style: italic;
    font-weight: bold;
    margin-right: 0.5rem;
  }
}